{% extends 'layout.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}



{% block header %} <h1>Hello {{ id }} ! </h1>{% endblock %}

{% block content %}



{% endblock %}

{% block footer %}{% endblock %}

